<!DOCTYPE html>
<html>
<head>
    <title>Taller de introduccion a Vuejs - cbertelegni</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="./favicon.ico">


<!-- https://getbootstrap.com/getting-started/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.1/vue.min.js"></script>


<style type="text/css">
    .page-header {
        min-height: 100px;
        margin-bottom: 40px;
    }
    .row {
        margin-bottom: 20px;
    }

    .tarjeta {
        width: 30%;
        height: 250px;
        margin: 10px 1%;
        border: solid 1px #ccc;
        text-align: center;
    }

    .tarjeta img{
        min-height: 50px;
    }


</style>

</head>
<body>



<div id="app" class="container">
<a href="../." style="margin: 10px;" class="btn btn-primary">Volver</a>
    <div class="page-header">
        <h1>{{title}}</h1>
        <p>{{descripcion}}</p>
    </div>


    <div style="text-align: center;" class="row">
        <div class="col-md-12">
            Para interar un array se utiliza la directiva <code>v-for="element in array_var"</code></div>
    </div>

    <div style="text-align: center;" class="row">
        <div class="col-md-12">
            <p>Con la directiva <code>v-on:event_name</code> Escuchamos los eventos, en este caso usamos <code>v-on:click="senadores.reverse()</code> para cambiar el orden de los senadores.</p>
            <button class="btn btn-primary" v-on:click="senadores.reverse()">Cambiá el orden!</button>
        </div>
    </div>


<!--

***
    - Completa la tarjeta con la data de cada funcionario
***
-->

 <div class="row">

    <div class="pull-left tarjeta"
        v-for="senador in senadores">
        <h3>{{senador.nombre}}</h3>
        <img class="img-circle img-thumbnail" :src="app_path + senador.photo">
        <h4>{{senador.agrupacion}}</h4>
        <p>{{senador.provincia}}</p>
    </div>
 </div>






</div>


</body>
</html>


<!-- script -->
<script type="text/javascript">

var app = new Vue({
  el: '#app',
  data: {
    title: 'Bucles reactivos',
    descripcion:"Directiba para interar elementos: 'v-for'",
    app_path: "http://votaciones.lanacion.com.ar",
    senadores: []
  },

  created: function(){
    // el metodo created se dispara una única vez cuando el render del virtual dom esta listo
    console.log("La aplicación fue creada")
    this.fetchData();
  },

  methods:{
    // acá se definen los metodos, estos estan accesibles en toda la app
    fetchData: function(){
        var _self = this;
        $.get("../data/senadores2017.json", function(data){
            _self.senadores = data.legisladores;
        });
    }

  }
})


</script>











